.paper {
  display: grid;
  gap: 33px;
}

.input {
  width: 300px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 82px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 112px;
}
