.button {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 44px;
  padding-inline: 17px;
  border: none;
  border-radius: 4px;

  &:focus {
    outline: none;
  }

  &[data-kind='outline'] {
    color: var(--accent);
    background: transparent;
    border: 1px solid var(--accent);

    &:hover, &:focus {
      color: var(--accent-faded);
      border-color: var(--accent-faded);
    }
  }

  &[data-kind='filled'] {
    color: var(--text-secondary);
    background: var(--accent);

    &:hover, &:focus {
      background-color: var(--accent-faded);
    }
  } 
}