body {
  display: flex;
  justify-content: center;

  @media (width <= 780px) {
    display: block;
  }

  &:has(.container[data-step='3']) {
    align-items: flex-start;
    padding-top: 24px;
  }
}

.container {
  position: relative;
  width: 900px;
  height: 821px;
  padding: 62px 112px;
  background: var(--bg-secondary);
  border-radius: 24px;

  &[data-step='3'] {
    height: 500px;
  }

  & main {
    margin-top: 69px;
  }

  @media (width <= 992px) {
    max-width: 700px;
    padding: 42px 92px;
  }

  @media (width <= 730px) {
    width: 100%;
    max-width: unset;
    padding: 32px 52px;
  }
}

.content {
  padding-top: 78px;
}

