.form {
  width: 100%;
  height: 450px;
  overflow-y: auto;
}

.fieldset {
  max-width: 336px;
  border: none;
}

.advantages {
  margin-bottom: 24px;
}

.elements {
  display: grid;
  gap: 28px;
  letter-spacing: 0.4px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 82px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 112px;

  @media (width <= 992px) {
    padding-inline: 92px;;
  }

  @media (width <= 730px) {
    padding-inline: 52px;
  }
}
