.modal {
  width: 460px;
  height: 314px;
  padding: 34px;
  background: var(--bg-secondary);
  border-radius: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;

  &.is_success {
    justify-content: center;

    & > :where(button) {
      display: none;
    }
  }
}

.close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: var(--surface);
  border: none;
  border-radius: 9999px;

  & svg {
    width: 16px;
    height: 16px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 132px;
  margin-bottom: 23px;
}

.indicator {
  position: relative;
  z-index: 3;
  width: 39px;
  height: 39px;
}

.icon_wrapper {
  position: relative;
}

.icon_wrapper::after {
  position: absolute;
  top: 45%;
  right: -20px;
  display: block;
  width: 80px;
  height: 80px;
  content: '';
  background: var(--success);
  border-radius: 9999px;
  transform: translateY(-50%);

  [data-type='error']& {
    background: var(--failure);
  }
}

.footer {
  text-align: end;
  
  &[data-type='success'] {
    text-align: center;
  }
}