@import url('../shared/assets/index.css');

body {
  background: var(--bg-base);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--surface);
  border-radius: 10px;
}